<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Review</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <%posts.forEach(post=>{ %>
                <tr>
                    <td>
                        <%=post.id%>
                    </td>
                    <td>
                        <%=post.title%>
                    </td>
                    <td>
                        <%=post.image%>
                    </td>
                    <td>
                        <%=post.review%>
                    </td>
                    <td>
                        <button></button>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>