<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Home Page</title>
</head>
<body>
    <h1>Admin Home Page</h1>
    <div>
        
    </div>
    <a href="/">Home</a> <a href="">Blog</a> <a href="">Contributor</a> <a href="">About</a>
</body>
</html>